bin
build
rel
lib
.classpath
/testOutput
/filegdb/linux/filegdb/nbproject/private/
/filegdb/linux/filegdb/build/Debug/
/filegdb/linux/filegdb/build/Release/
/local.properties
*.pdb
*.idb
*.*log
*.obj
*.exp
*.lastbuildstate
*.ilk
hs_err*.mdmp
.gdb
.gradle
.settings
